/* You can add custom CSS and extend Boostrap styles in this file. Remember, Bootstrap is just CSS at the end of the day! */
/* color palette: #031926, #468189, #77ACA2, #9DBEBB, #F4E9CD */
body {
  margin: 0;
  background-color: #031926;
}

nav {
  height: 75px;
}

.navbar {
  background-color: rgba(119, 172, 162, 0.8);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  /* height: 80px; */
}

.navbar a {
  color: #f4e9cd;
  font-size: 20px;
  font-family: "Baloo Bhaijaan 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  text-decoration: none;
  margin: 0 30px;
}

.navbar a:hover {
  color: #031926;
  transition-duration: 0.5s;
}

.icon {
  width: 50px;
  border-radius: 50%;
  text-align: left;
  border: 3px solid rgba(0, 0, 0, 0.5);
  object-fit: cover;
  transition: transform 0.2s;
}

.icon:hover {
  transform: scale(1.1);
}

section {
  scroll-margin-top: 75px;
}

#hero-section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)),
    url(https://i.imgur.com/GnLSxka.jpeg);
  width: 100%;
  background-position: center, center;
  background-size: cover, cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f4e9cd;
  padding: 110px 0;
}

#content {
  text-align: center;
  max-width: 90%;
  min-width: 200px;
  margin: auto;
  padding: 20px;
}

.avatar {
  width: clamp(9rem, 20vw, 13rem);
  border: 7px solid rgba(105, 105, 105, 0.3);
  border-radius: 50%;
}

h1 {
  font-size: clamp(2rem, 5vw, 7rem);
  font-family: "Baloo Bhaijaan 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  margin-top: 30px;
  text-shadow: 2px 2px rgba(24, 44, 71, 0.6);
}

.info p {
  font-size: clamp(1rem, 2vw, 4rem);
  font-family: "Baloo Bhaijaan 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 80;
  font-style: italic;
  text-shadow: 2px 2px rgba(24, 44, 71, 0.6);
}

h2 {
  color: #f4e9cd;
  text-align: center;
  font-size: 40px;
  font-family: "Baloo Bhaijaan 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

h5 {
  color: #f4e9cd;
  font-size: 20px;
  font-family: "Baloo Bhaijaan 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  text-shadow: 2px 2px rgba(24, 44, 71, 0.6);
}

#mission-section,
#skills-section,
#inspiration-section,
#contact-section {
  color: #f4e9cd;
  font-family: "Baloo Bhaijaan 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 80;
  letter-spacing: 1px;
  padding: 50px 20px;
  margin: 0;
}

.mission-img {
  vertical-align: center;
}

#mission-section img {
  padding: 10px 40px;
  width: 90%;
  height: auto;
}

#mission-section p {
  padding: 10px 40px;
}

span {
  color: #9dbebb;
  text-decoration: underline;
}

#skills-section {
  background-color: #468189;
}

.card {
  color: #f4e9cd;
  font-family: "Baloo Bhaijaan 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  letter-spacing: 1px;
  background-color: transparent;
  border: none;
  vertical-align: top;
  display: inline-block;
  width: 200px;
  margin: 20px 25px;
}

.card h5 {
  color: #031926;
  font-family: "Baloo Bhaijaan 2", sans-serif;
  font-optical-sizing: auto;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 1px;
}

.card img {
  width: 80px;
}

.card p {
  margin-top: 15px;
}

hr {
  background-color: #f4e9cd;
  height: 2px;
  margin: 20px auto;
}

.carousel {
  width: 50%;
  height: auto;
  margin: 0 auto;
}

.carousel-inner > .carousel-item {
  position: relative;
}

.carousel-inner > .carousel-item:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
}

#contact-section {
  background-color: #468189;
}

.carousel-caption p {
  color: #f4e9cd;
  font-size: 25px;
  font-family: "Baloo Bhaijaan 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  text-shadow: 2px 2px rgba(24, 44, 71, 0.6);
}

#contact-section a {
  color: #f4e9cd;
}

#contact-section a:hover {
  color: #031926;
  transition-duration: 0.5s;
}

.contact-icon {
  font-size: 35px;
  flex-shrink: 1;
}

#footer-section {
  color: #031926;
  font-family: "Baloo Bhaijaan 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  background-color: #f4e9cd;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
